@use '../../styles/vars';

.favorites {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: vars.$color-background-login; 
  position: absolute;
  z-index: 1;
  animation: fadeIn 0.5s 1;


  &--animation {
    animation: fadeOut 0.5s 1;
  }

  &_drawer-open {

    @media (min-width: 768px) {
      right: -50vw;
      }
  }

  &-user {
    display: flex;
    flex-direction: row;

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-user {
    display: flex;
    flex-direction: column;

    @media (min-width: 1400px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }

  &-content {
    position: relative;
    background-color: vars.$color-background-stat;
    border-radius: 5px;
    padding: 0.5rem;
    width: 95vw;
    height: calc(100vh - 5rem);
    overflow: scroll;
    box-shadow: 1px 1px 4px 0px vars.$color-background-barre;
    color: vars.$color-background-scaled;

    @media (min-width:768px) {
      width: 80vw;
      height: 80vh;
    }

    @media (min-width:1400px) {
      width: 70vw;
      height: 80vh;
      overflow: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 8px;

        @media (min-width: 1400px) {
            width: 14px;
        }

        @media (min-width: 2000px) {
            width: 18px;
        }
      }

      &::-webkit-scrollbar-thumb {
          background-color: vars.$color-background-pokemon;
          border-radius: 20px;
      }
    }

    &-title {
      font-size: 1rem;
      margin: 1rem;

      @media (min-width:768px) {
        font-size: 1.5rem;
      }
  
      @media (min-width:1400px) {
        font-size: 1.5rem;
      }
    }

    &-team {
      display: flex;
      flex-direction: column;
      background-color: vars.$color-background-scaled;
      border-radius: 5px;
      margin: 0.5rem 0;
      padding: 0 0.5rem;
      color: vars.$color-background;

      @media (min-width: 1400px) {
        margin: 0.5rem;
      }

      &-title {
        font-size: 0.8rem;
        margin-right: 1.5rem;

        @media (min-width:768px) {
          font-size: 1.5rem;
        }
    
        @media (min-width:1400px) {
          font-size: 1.5rem;
        }
      }

      &-infos {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-button {
          margin: 0.5rem;
          padding: 0.3rem;
          border-radius: 5px;
          color: vars.$color-background-scaled;
          background-color: vars.$color-background;
          border: 1px solid vars.$color-background-scaled;
        }

        &-button:hover {
          color: vars.$color-background;
          background-color: vars.$color-background-scaled;
          border: 1px solid vars.$color-background;
        }
      }

      &-pokemon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        &-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 1rem;

          &-sprite {
            width: 45px;

             @media (min-width: 768px) {
              width: 100%;
             }

             @media (min-width: 1400px) {
              width: 100%;
            }
          }

          &-name {
            padding: 0 0.5rem;

            @media (max-width: 767px) {
              display: none;
            }
          }
        }
      }
    }

    &-close {
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      border: 1px solid vars.$color-background-scaled;
      background-color: vars.$color-background;
      color: vars.$color-background-scaled;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 5px;
      top: 5px;
    }

    &-close:hover {
      background-color: vars.$color-background-scaled;
      color: vars.$color-background;
      border: 1px solid vars.$color-background;
    }
  }

  &-confirm-delete {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;

    &-content {
      position: sticky;
      width: 80%;
      padding: 5rem 3rem;
      border-radius: 5px;
      box-shadow: 1px 1px 4px 1px vars.$color-background;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: vars.$color-background-scaled;

      &-answer {
        color: vars.$color-background;
        font-weight: bold;
      }

      &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}