.select {
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 5px;
    padding: 0.5rem;
    height: 0.8rem;
    margin-bottom: 0;

    @media (min-width: 768px) {
        width: 25%;
        height: 1.2rem;
    }
}