@use 'sass:color';

$gutter: 1rem;
$color1: lightgrey;

$color-header: #332c2c;
$color-light: white;

$color-background: #C14040;
$color-background-pokemon: #982C2C;
$color-background-stat: #AB3838;

$color-background-barre: #632B2B;

$color-background2: #FEEAEA;
$color-background-scaled: color.scale($color-background, $lightness: 80%);
$color-background-scaled-drop: color.scale($color-background, $lightness: 50%);