@use 'sass:color';
@use 'sass:map';

$gutter: 1rem;
$color1: lightgrey;

$color-header: #332c2c;
$color-light: white;

// light theme
// $color-background: #C14040;
// $color-background-scaled: color.scale($color-background, $lightness: 80%);
// $color-background-scaled-drop: color.scale($color-background, $lightness: 50%);
// $color-background-pokemon: color.scale($color-background, $lightness: -15%);
// $color-background-stat: color.scale($color-background, $lightness: -5%);
// $color-background-barre: color.scale($color-background, $lightness: -40%);
// $color-background-login: rgba(243, 217, 217, 0.8); 
// $color-background2: #FEEAEA;

//dark theme
// $color-background-dm: #C14040;
// $color-background-scaled-dm: color.scale($color-background, $lightness: 80%);
// $color-background-scaled-drop-dm: color.scale($color-background, $lightness: 50%);
// $color-background-pokemon-dm: color.scale($color-background, $lightness: -15%);
// $color-background-stat-dm: color.scale($color-background, $lightness: -5%);
// $color-background-barre-dm: color.scale($color-background, $lightness: -40%);
// $color-background-login-dm: rgba(243, 217, 217, 0.8); 
// $color-background2-dm: #FEEAEA;

:root {
  --background: #C14040;
  --scaled: #F3D9D9;
  --drop: #E9A3A3;
  --pokemon: #982C2C;
  --stat: #AB3838;
  --barre: #632B2B;
  --login: rgba(243, 217, 217, 0.8); 
  --bg2: #FEEAEA;
}

// html {
//   --background: #C14040;
//   --scaled: #F3D9D9;
//   --drop: #E9A3A3;
//   --pokemon: #982C2C;
//   --stat: #AB3838;
//   --barre: #632B2B;
//   --login: rgba(243, 217, 217, 0.8); 
//   --bg2: #FEEAEA;
// }

.dark {
  --background: #C14040;
  --scaled: #F3D9D9;
  --drop: #E9A3A3;
  --pokemon: #982C2C;
  --stat: #AB3838;
  --barre: #632B2B;
  --login: rgba(243, 217, 217, 0.8); 
  --bg2: #FEEAEA;
}

$color-resistant: #90EE90;
$color-twice-resistant: color.scale($color-resistant, $lightness: -30%);
$color-imune: color.scale($color-resistant, $lightness: -50%);
$color-balanced-neutral: lightgray;

$color-slightly-vulnerable: #FFB6C1;
$color-vulnerable: color.scale($color-slightly-vulnerable, $lightness: -20%);
$color-twice-vulnerable: color.scale($color-slightly-vulnerable, $lightness: -30%);

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@keyframes fill {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}