@use './vars';

@font-face {
  font-family: 'Pokemon-Hollow';
  src: url('../assets/fonts/Pokemon-Hollow.ttf');
}

@font-face {
  font-family: 'Pokemon-Solid';
  src: url('../assets/fonts/Pokemon-Solid.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  font-size: 0.6rem;
  background-color: vars.$color-background-scaled;


  @media (min-width: 400px) {
    font-size: 0.75rem;
  }

  @media (min-width: 768px) {
    font-size: 1rem;

  //   . {
  //     font-size: 0.8rem;
  //   }
  // }

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
}