@use '../../styles/vars';

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--scaled);
    position: relative;
    height: calc(100vh - 4rem);
    transition: 0.5s;

    @media (min-width: 768px) {
        margin-top: 3rem;
        margin-bottom: 3rem;
        height: calc(100vh - 6rem);
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &_drawer-open {
        position: relative;

        @media (min-width: 768px) {
            width: 50vw;
        }
    }
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}