@use '../../styles/vars';

.app {
    background-color: vars.$color-background-scaled;
}

.container {
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    overflow-y: auto;

    @media (min-width: 767px) {
        margin-top: 3rem;
        margin-bottom: 3rem;
        overflow-y: auto;
    }
}