@use '../../styles/vars';

.advices {
  display: flex;
  justify-content: center;
  background-color: vars.$color-background-scaled-drop;
  margin: 1.5rem;
  padding: 0.5rem;
  color: vars.$color-background-pokemon;
  border-radius: 15px;
  box-shadow: 0 0 5px vars.$color-background;

    &.more-resistances {
      background-color: vars.$color-resistant;
      color: black;
    }

    &.more-vulnerabilities {
      background-color: vars.$color-vulnerable;
      color: black;
    }

    &.equal-resistances {
      background-color: vars.$color-balanced-neutral;
      color: black;
    }

    &.low-vulnerabilities {
      background-color: vars.$color-twice-resistant;
      color: black;
    }

  &-style {
    background-color: vars.$color-background-scaled;
    padding: 1rem;
    border-radius: 12px;
    width: 100%;
  }
}