@use '../../styles/vars';

.advices {
  display: flex;
  justify-content: center;
  background-color: var(--drop);
  margin: 1.5rem;
  padding: 0.5rem;
  color: var(--pokemon);
  border-radius: 15px;
  box-shadow: 0 0 5px var(--background);

  &-style {
    background-color: var(--scaled);
    padding: 1rem;
    border-radius: 12px;
    width: 100%;
  }
}