@use '../../styles/vars';

.advices {
  display: flex;
  justify-content: center;
  background-color: vars.$color-background-scaled-drop;
  margin: 1.5rem;
  padding: 0.5rem;
  color: vars.$color-background-pokemon;
  border-radius: 15px;
  box-shadow: 0 0 5px vars.$color-background;

  &-style {
    background-color: vars.$color-background-scaled;
    padding: 1rem;
    border-radius: 12px;
    width: 100%;
    text-align: justify;
    line-height: 1.5;
    font-size: 0.7rem;

    @media (min-width: 1400px) {
      text-align: center;
      font-size: 1rem;
    }

    &-message {
      animation: appearence 3s;
    }

    &-more-resistances {
      animation: appearence 3s;
    }

    &-ore-vulnerabilities {
      animation: appearence 3s;
    }

    &-equal-resistances {
      animation: appearence 3s;
    }

    &-low-vulnerabilities {
      animation: appearence 3s;
    }
  }
}

@keyframes appearence {
  0% {opacity: 0;}
  100% {opacity: 1;}
}