 @use '../../styles/vars';
 
 .card {

    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
    background-color: vars.$color-background;
    border-radius: 5px;
    color: vars.$color-background-scaled;
    width: 100%;

    @media (min-width: 1400px) {
        width: 45%;
        margin-bottom: 2.5rem;
    }

    &-image {
        width: 3rem;
        height: 3rem;
        margin: 1rem;
        border-radius: 5px;

        @media (min-width: 768px) {
            width: 4.5rem;
            height: 4.5rem;
        }

        @media (min-width: 1400px) {
            width: 120px;
            height: 120px;
            margin: 1.5rem;
        }
    }

    &-details {
        margin: 1rem;

        @media(min-width: 1400px) {
            margin-top: 2rem;
        }
    }

    &-details p {
        margin: 0.2rem;
        font-style: italic;
    }

    &-details--info {
        font-weight: bold;
        font-style: normal;
    }

    &-social {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;

        &_img {
            margin-top: 0.2rem;
            margin-right: 0.3rem;
            width: 1rem;

            @media(min-width: 768px) {
                width: 1.6rem;
            }

            @media(min-width: 1400px) {
                width: 2rem;
            }
        }
    }
 }

 .fab {
     color: vars.$color-background-scaled;
     font-size: 1rem;
     margin-left: 0.5rem;
     margin-top: 0.2rem;

     @media(min-width: 768px) {
        font-size: 1.5rem;
        margin-top: 0.3rem;
     }

     @media(min-width: 1400px) {
        font-size: 1.8rem;
        margin-top: 0.5rem;
        margin-left: 0.7rem;
     }
 }