.search-input {
    margin: 0.5rem 0.5rem 0.5rem 0;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    height: 0.8rem;
    margin-bottom: 0;

    @media (min-width: 768px) {
        width: 70%;
        height: 1.2rem;
    }
}