@use '../../styles/vars';

.drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: vars.$color-background;
    height: calc(62vh - 3.2rem);
    position: fixed;
    width: 100%;
    top: calc(100vh - 2.9rem - 50px);
    padding: 0;
    transition: transform 0.5s;
    box-shadow: 0px 0px 3px black;

    &--open {
        transform: translateY(calc(-62vh + 70px));
    }

    @media (min-width: 768px) {
        flex-direction: row;
        height: calc(100vh - 2.9rem);
        position: fixed;
        top: 0;
        right: calc(-50vw + 1.3rem);
        width: 50vw;
        box-shadow: 0px 0px 7px black; 

        &--open {
            transform: translateX(calc(-50vw + 2rem));
        }
    }

    @media (min-width: 1400px) {
        right: calc(-50vw + 2rem);
    }

    &-button {
        background-color: vars.$color-background-scaled;

        &-image {
            position: absolute;
            right: 47vw;
            top: -13px;
            width: 25px;
            transition-duration: 0.5s;
            z-index: 1;

            &:hover {
                transform: rotate(45deg);
                transition-duration: 0.5s;
            }

            @media (min-width: 768px) {
                width: 30px;
                top: 50%;
                left: -15px;
                transform: rotate(-90deg);

                &:hover {
                    transform: rotate(-45deg);
                    transition-duration: 0.5s;
                }
            }

            @media (min-width: 1400px) {
                width: 50px;
                top: 50%;
                left: -24px;
                transform: rotate(-90deg);

                &:hover {
                    transform: rotate(-45deg);
                    transition-duration: 0.5s;
                }
            }
        }
    }

    &-list {
        // adapter la soustraction si besoin pour le nombre de résultats
        height: calc(50vh - 100px);
        position: relative;
        bottom: -11vh;
        overflow-y: auto;
        overflow-x: hidden;

        @media (min-width: 768px) {
            margin-top: 1rem;
            height: calc(100vh - 230px);
            bottom: -8vh;
            width: 50vw;
        }

        @media (min-width: 1400px) {
            bottom: -6.1vh;
        }

        @media (min-width: 2000px) {
            bottom: -4.5vh;
        }

        &::-webkit-scrollbar {
            width: 8px;

            @media (min-width: 1400px) {
                width: 14px;
            }

            @media (min-width: 2000px) {
                width: 18px;
            }

        }

        &::-webkit-scrollbar-thumb {
            background-color: vars.$color-background-pokemon;
            border-radius: 20px;
        }

        &--pokemon {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            min-width: 100vw;

            @media (min-width: 768px) {
                min-width: 50vw;
            }
        }

        &--nopokemon {
            color: vars.$color-background-scaled;
            text-align: center;
            margin-top: 25%;
        }
    }
}