@use '../../styles/vars';

.drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: vars.$color-background;
    height: 50vh;
    position: fixed;
    width: 100%;
    bottom: 2rem;
    padding: 0;
    z-index: 99;

    overflow-y: auto;

    @media (min-width: 768px) {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        width: 50vw;
    }

    &-button {
        position: absolute;
        top: -7.5px;
        transition-duration: 0.5s;
        z-index: 999;

        &:hover {
            transform: rotate(45deg);
            transition-duration: 0.5s;
        }

        &-image {
            width: 15px;

            @media (min-width: 768px) {
                width: 30px;
                top: -15px;
            }

            @media (min-width: 1400px) {
                width: 50px;
                top: -15px;
            }
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
    }

    &-list--pokemon {
        height: 3rem;
        width: 3rem;
        background-color: vars.$color-background-scaled;
        border-radius: 5px;
    }
}




// transform: translateX(calc(100% - #{vars.$gutter}));
// transition: transform 0.3s vars.$easeBack;

// &--open {
//   transform: translateX(0);
// }