@use '../../styles/vars';

.header {

    &-div{
        position: relative;
        background-color: vars.$color-header;
        color: vars.$color-light;
        width: 100%;
        height: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: vars.$gutter;
        position: fixed;
        top: 0;
        z-index: 3;

        @media (min-width: 768px) {
            height: 3rem;
            justify-content: space-around;
        }

        &-title {
            font-family: Pokemon-Hollow;
            font-size: 0.7rem;
            margin: 0;
            margin-bottom: 0.3rem;
            font-weight: bold;
            text-align: center;
    
            @media (min-width: 768px) {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }

            @media (min-width: 1400px) {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    
        &-connexion {
            display: none;

            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                color: vars.$color-light;
            }
        }

        &-mobile {
            position:absolute;
            right: 15px;

            @media (min-width: 768px) {
                display: none;
            }

            &-open {
                position: absolute;
                top: 2rem;
                left: 0;
                height: fit-content;
                width: 100%;
                padding: 1rem;
                background-color: vars.$color-header;
                font-size: 1rem;
            }
        }

        &-connexion p {
            margin: 0.5rem;

            &:nth-child(2n+1) {
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.trick {
    text-align: right;
    cursor: pointer;

    @media (min-width: 768px) {
        width: 15rem;
    }

    &-box {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: left;
        transition: transform 0.5s;
        transform-style: preserve-3d;

        @media(min-width: 768px) {
            text-align: right;
        }
    }

    &:hover &-box {

        @media (min-width: 768px) {
            transform: rotateX(180deg);
        }
    }

    &-visible {

        @media (min-width: 768px) {
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            position: absolute;
            top: -14px;
        }

        @media (min-width: 1400px) {
            position: absolute;
            top: -16px;
        }
    }
    &-invisible {

        @media (min-width: 768px) {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            top: 14px;
        }

        @media (min-width: 1400px) {
            top: 16px;
        }
    }

    &-invisible {

        @media (min-width: 768px) {
            transform: rotateX(180deg);
        }
    }
}

.fa-bars {
    font-size: 1.2rem;
}

.light-dark {
    position: absolute;
    left: 15px;
    cursor: pointer;

    @media (min-width: 768px) {
        left: auto;
        right: 20px;
    }

    & img {
        width: 20px;

        @media (min-width: 768px) {
            width: 25px;
        }
    }
}
