@use '../../styles/vars';

.header {

    &-div{
        background-color: vars.$color-header;
        color: vars.$color-light;
        width: 100%;
        height: 1.2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: vars.$gutter;
        position: fixed;
        top: 0;
        z-index: 3;

        @media (min-width: 768px) {
            height: 3rem;
        }

        &-title {
            font-family: Pokemon-Hollow;
            font-size: 0.7rem;
            margin: 0;
            margin-bottom: 0.3rem;
            font-weight: bold;
            text-align: center;
    
            @media (min-width: 768px) {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }

            @media (min-width: 1400px) {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    
        &-connexion {
            display: flex;
            align-items: center;
            color: vars.$color-light;
        }

        &-connexion p {
            margin: 0.5rem;

            &:nth-child(2n+1) {
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.trick {
    width: 3.6rem;
    text-align: right;
    cursor: pointer;

    @media (min-width: 768px) {
        width: 15rem;
    }

    &-box {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: right;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }

    &:hover &-box {
        transform: rotateX(180deg);
    }

    &-visible {
        position: absolute;
        top: -18px;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;

        @media (min-width: 768px) {
            top: -14px;
        }

        @media (min-width: 1400px) {
            top: -16px;
        }
    }
    &-invisible {
        position: absolute;
        top: 18px;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;

        @media (min-width: 768px) {
            top: 14px;
        }

        @media (min-width: 1400px) {
            top: 16px;
        }
    }

    &-invisible {
        transform: rotateX(180deg);
    }
}