@use '../../styles/vars';

.tab {

    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    margin-bottom: 4rem;

    &-container {
        margin: 0;
        padding: 0;
    }


    &-title {
        text-align: center;
        margin-bottom: vars.$gutter;
        // font-size: 1rem;
    }

    &-head {

        &--tr {
            // @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
            // }
        }

        &--type {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-left: 1px solid black;
            padding: (vars.$gutter / 2);
            padding: auto;
            height: 3rem;
            position: relative;
            background-color: vars.$color-background;

            &:last-child{
                border-bottom: 1px solid black;
            }

            &_image {
                width: 1.5rem;
                padding: 0;
                margin: 0;
            }

            &_name {
                position: absolute;
                background-color: vars.$color-background-pokemon;
                color: vars.$color-background-scaled;
                top: 5px;
                padding: 0.2rem;
                border-radius: 5px;
            }
        }

        &--sprites {
            border-top: 1px solid black;
            border-right: 1px solid black;
            padding: 0;
            height: 3rem;
            position: relative;
            text-align: center;
            background-color: vars.$color-background-scaled-drop;

            &_image {
                position: absolute;
                left: 20%;
                top: 20%;
                max-width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
            }
        }

        

        &--def {
            text-align: center;
            border-top: 1px solid black;
            border-right: 1px solid black;
            padding: (vars.$gutter / 2);
            height: 3rem;
            background-color: vars.$color-background2;
            
            // @media (max-width: 767px) {
            //     display: flex;
            //     flex-direction: row;
            //     max-width: 100%;
                // justify-content: center;
            // }
        }
    }
}

.tab td {
    height: 4rem;
    width: 3rem;
}