@use '../../styles/vars';

.home-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    position: relative;

    @media (min-width: 768px) {
        width: 100%;
    }

    &-title {
        margin-top: 1rem;
    }

    &-drops {
        margin: 0.5rem 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 300px;

        @media (min-width: 1400px) {
            flex-direction: row;
            width: 800px;
        }
    }

    &-drop {
        border-right: 2px solid var(--background);
        border-bottom: 2px solid var(--background);
        position: relative;

        &:nth-child(0n+3) {
            border: none;
            border-bottom: 2px solid var(--background);
        }

        &:nth-child(0n+4), &:nth-child(0n+5) {
            border: none;
            border-right: 2px solid var(--background);
        }

        &:last-child {
            border: none;
        }

        @media (min-width: 1400px) {
            border: none;
            border-right: 2px solid var(--background);
            &:nth-child(0n+3) {
                border: none;
                border-right: 2px solid var(--background);
            }    
        }

        &-content {
            margin: 0.5rem;
            background-color: var(--drop);
            height: 60px;
            width: 60px;
            border-radius: 5px;

            @media (min-width: 1400px) {
                height: 100px;
                width: 100px;
            }

            &-sprite {
                height: 100%;
                width: 100%;
            }

            &-button {
                background-color: var(--background);
                border-radius: 50%;
                border: 1px solid var(--scaled);
                text-align: center;
                vertical-align: center;
                color: var(--scaled);
                font-size: 0.4rem;
                width: 17px;
                height: 17px;
                position: absolute;
                top: 5px;
                right: 5px;
            }

            &-button:hover {
                background-color: var(--scaled);
                border: 1px solid var(--background);
                color: var(--background);
            }
        }

        &-button {
            font-size: 0.6rem;
            background-color: var(--background);
            color: var(--scaled);
            border-radius: 5px;
            border: 1px solid var(--scaled);
            padding: 0.2rem 0.5rem;
            // position: absolute;
            // bottom: -16px;
            border: 1px solid var(--background);
            margin: 0.5rem;

            &-suggestion {
                font-size: 0.6rem;
                background-color: var(--background);
                color: var(--scaled);
                border-radius: 5px;
                border: 1px solid var(--scaled);
                padding: 0.2rem 0.5rem;
                position: absolute;
                bottom: 60px;
                border: 1px solid var(--background);
                margin: 0.5rem;
                animation: signal 2s infinite;

                @media (min-width: 768px) {
                    bottom: 60px;
                }

                @media (min-width: 1400px) {
                    bottom: 70px;
                }

                &:hover {
                    background-color: var(--scaled);
                    border: 1px solid var(--background);
                    color: var(--background);
                }
            }
        }

        &-button:hover {
            background-color: var(--scaled);
            border: 1px solid var(--background);
            color: var(--background);
        }

        &-fav {
            font-size: 0.6rem;
            background-color: var(--background);
            color: var(--scaled);
            border-radius: 5px;
            border: 1px solid var(--scaled);
            padding: 0.2rem 0.5rem;
            // position: absolute;
            // bottom: -16px;
            // right: 150px;
            border: 1px solid var(--background);
        }

        &-fav:hover {
            background-color: var(--scaled);
            border: 1px solid var(--background);
            color: var(--background);
        }

        &-add {
            position: relative;

            &-input {
                box-sizing: border-box;
                border: none;
                margin: 0.5rem;
                padding: 1rem;
                height: 20px;
                border-radius: 5px;
                font-size: 0.8rem;
                width: 220px;
                background-color: vars.$color-light;
            }

            &-submit {
                position: absolute;
                border: none;
                background-color: var(--background);
                color: var(--scaled);
                border-radius: 5px;
                padding: 0.3rem 0.2rem;
                right: 15px;
                bottom: 12px;
            }
        }
    }
}

@keyframes signal {
    0% { background-color: var(--background); color: var(--scaled); }
    50% { background-color: var(--scaled); color: var(--background); }
    0% { background-color: var(--background); color: var(--scaled); }
}